.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.login-details {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-details form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.login-details form input {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background-color: #ebebeb;
}
/* Add this to your Login.css file */

.login-button {
  margin-top: 30px;
  padding: 10px;
  background-color: #19c048;
  border-radius: 10px; /* Increase border radius for curved edges */
  color: #fff; /* Set text color to white for better contrast */
  border: none; /* Remove border */
  cursor: pointer;
}

.login-button:hover {
  background-color: #128a32; /* Darker color on hover */
}

